[bumpversion]
current_version = 0.0.1
commit = True
tag = True
tag_name = v{new_version}
message = Update version [{now:%Y-%m-%d %H:%M}]: {current_version} → {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize =
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:docs/history.md]
search = **unreleased**
replace = **unreleased**

	**{new_version} ({now:%d.%m.%y})**

[bumpversion:file:textual_jsonschema_form/__init__.py]

[bumpversion:file:pyproject.toml]
